<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shock</title>
  </head>
  <body>
    <h1>Show Controller</h1>
    <div id="control-buttons-container">
      <button id="reset-button"
        data-trigger="tcp"
        data-host="192.168.0.100"
        data-port="3040"
        data-message="gotoTime 0"
        style="background-color:orange;"
      >
        RESET
      </button>
      <button
        id="play-button"
        data-trigger="tcp"
        data-host="192.168.0.100"
        data-port="3040"
        data-message="run"
        style="background-color:lime;"
      >
        PLAY
      </button>
      <button
        id="pause-button"
        data-trigger="tcp"
        data-host="192.168.0.100"
        data-port="3040"
        data-message="halt"
        style="background-color:red;"
      >
        PAUSE
      </button>
    </div>
  </body>
</html>
