<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shock</title>
    <link rel="stylesheet" type="text/css" href="style/main.css">
  </head>
  <body>
    <h1>Show Controller</h1>
    <div id="control-buttons-container">
      <button
        type="button"
        data-command="Show:restart"
        style="background-color: orange;"
      >
        RESTART
      </button>
      <button
        type="button"
        data-command="Show:run"
        style="background-color: lime;"
      >
        PLAY
      </button>
      <button
        type="button"
        data-command="Show:pause"
        style="background-color: red;"
      >
        PAUSE
      </button>
      <button
        type="button"
        data-command="Show:moment:climax"
        style="background-color: pink;"
      >
        Go To Climax
      </button>
    </div>
    <div>
      <a href="vp.html">VP</a>
    </div>
    <section id="status-box">
      status box
    </section>
    <script src="../../renderer-process/index.js"></script>
  </body>
</html>
