<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shock</title>
  </head>
  <body>
    <h1>Show Controller</h1>
    <div id="control-buttons-container">
      <button
        type="button"
        data-command="Show:restart"
        style="background-color: orange;"
      >
        RESTART
      </button>
      <button
        type="button"
        data-command="Show:run"
        style="background-color: lime;"
      >
        PLAY
      </button>
      <button
        type="button"
        data-command="Show:pause"
        style="background-color: red;"
      >
        PAUSE
      </button>
      <button
        type="button"
        data-command="Show:moment:climax"
        style="background-color: pink;"
      >
        Go To Climax
      </button>
    </div>
    <script type="text/javascript">
      const { ipcRenderer } = require('electron');
      const buttons = Array.from(document.querySelectorAll('[data-command]'));

      function onAction(event) {
        const command = event.currentTarget.dataset.command;

        // TODO: This will be websockets.
        ipcRenderer.send('show:event:trigger', command);
      }

      buttons.forEach(element => element.addEventListener('click', onAction));
    </script>
  </body>
</html>
